{{ "<!-- footer.html -->" | safeHTML }}
<footer id="body-footer" class="pagewidth" style="display: none;">
    <!-- <div id="background-footer" class="background" role="presentation"></div> -->
    {{ partialCached "a11y/focusMode.html" . }}
    {{ partialCached "a11y.html" . }}
    <!-- {{ partialCached "a11y/bionread.html" . }} -->
    {{ "<!-- [top] bypass block -->" | safeHTML }}
    <!-- <nav aria-label="{{ i18n "bypass" }}">
        <a id="to-top" href="#top" title="{{ i18n "toTop" }}" accesskey="c" aria-keyshortcuts="c" aria-label="{{ i18n "toTop" }}">
            <kbd class="key" aria-hidden="true">c</kbd>
        </a>
    </nav> -->
</footer>

{{- define "partials/main/footer.html" -}}
{{- end }}